body {
  background-color: #dcd6d6;
  margin: 0;
  font-family: Arial, sans-serif;
}

footer {
  text-align: center;
  padding: 1rem 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f3f3f3;
  border-bottom: 1px solid #e7e7e7;
  z-index: 1000;
}

header h1 {
  margin: 0;
  padding: 10px 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #f3f3f3;
  border-top: 1px solid #e7e7e7;
}

nav li {
  flex: 1;
}

nav a {
  display: block;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  color: #333030;
}

main {
  padding: 100px 20px 20px;
}